body
{
    background: #111;
    color: #f4f4f4;
}

.navbar {
    background: #373737 !important;
    color: #f4f4f4 !important;
}

.dropdown-menu {
    background: #2D2D2D;
    color: #f4f4f4;
}

.modal-content {
    background: #2D2D2D;
    color: #f4f4f4;
}

.close {
    color: #f4f4f4;
}